.cro-card p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
}

.cro-card h4 {
    font-size: 18px;
}

.cro-card .image {
    background: #292929;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 66px;
    height: 65px;
}

.cro-card .image img {
    width: 90%;
}

.cro-card {
    width: 94%;
    margin: auto;
    height: 100px;
}

.cro-card p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 130%;
}

.cro-card .image img {
    width: 68%;
    border-radius: 0;
}

.cro-card .image {
    width: 56px;
    height: 55px;
}

.card-shadow {
    box-shadow: 4px 5px 7px #266e978f;
    border-radius: 25px;
    border: 1px solid #266e97;
    transition: all 700ms ease;
}

.card-shadow:hover {
    transition: all 300ms ease;
    box-shadow: 6px 9px 10px 0 rgb(0 0 0), 0 6px 20px 0 rgb(0 0 0);
    background: #265b97;
    border-color: #265b97;
    color: #fff;
}


.single_service.service_right {
    padding-right: 44px;
    padding-left: 0;
    text-align: right
}

.single_service.service_right img {
    right: -20px;
    left: auto;
}

.single_service:nth-child(1),
.single_service:nth-child(3) {
    right: 180px;
}

.service_right:nth-child(1),
.service_right:nth-child(3) {
    right: -180px;
}

.single_service:nth-child(2) {
    margin: 6rem 0;

}

.single_service img {
    max-width: 50px;
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.single_service {
    position: relative;
    padding-left: 49px;
    margin-bottom: 15px;

}

.single_service p {
    padding: 0 15px;
}

.single_service h4 {
    margin-bottom: 0;
    font-size: 18px
}

.service_right h4 {
    margin-bottom: 0;
    font-size: 18px
}

.focii-center-text {
    position: relative;
    left: 34%;
    font-size: 3rem;

}

.single_service .card-shadow {
    height: 110px;
}

.service_right p {
    margin-bottom: 10px;

}

.neumar-services-margin-top {
    margin-top: 6rem;
}

.focci-comp-sol .single_service:before {
    width: 34%;
    height: 0px;
    border-bottom: 5px dotted #fff;
    -webkit-box-shadow: 0px 1px 1px #fff;
    -moz-box-shadow: 0px 1px 1px #fff;
    box-shadow: 0px 1px 1px #383838;
    position: absolute;
    top: 42%;
    content: '';
    left: 108%;
    transform: rotate(180deg);
}

.card-shadow {
    height: 100px !important;
    position: static;
}

.focci-comp-sol .single_service.single_one::before {
    width: 23%;
    top: 136%;
    left: 78%;
    transform: rotate(238deg);
}

.focci-comp-sol .single_service.single_three::before {
    width: 23%;
    top: -42%;
    left: 75%;
    transform: rotate(121deg);
}

.focci-comp-sol .single_service.single_five::before {
    left: -35%;
    width: 30%;
}

.focci-comp-sol .single_service.single_six::before {
    width: 25%;
    top: -48%;
    content: '';
    left: 8%;
    transform: rotate(240deg);
}

.focci-comp-sol .single_service.single_four::before {
    width: 25%;
    top: 135%;
    content: '';
    left: -1%;
    transform: rotate(121deg);

}

@media only screen and (min-width: 521px) and (max-width: 1024px) {
    .card-shadow {
        height: 120px !important;
        position: static;
        width: 200px;
    }

    .single_one {
        position: relative;
        left: 20% !important;
    }

    .single_four {
        position: relative;
        left: -30% !important;
    }

    .single_three {
        position: relative;
        left: 10% !important;
    }

    .single_two {
        position: relative;
        right: 10% !important;
    }

    .single_six {
        position: relative;
        right: 30% !important;
    }

    .focii-center-text {
        position: relative !important;
        left: 20%;
        font-size: 2.5rem;
    }

    .single_service img {
        margin-left: 50px;
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 834px) {

    .focci-comp-sol .cro-card p {
        font-size: 13px;
    }

    .focci-comp-sol .cro-card .image,
    .cro-card .image {
        margin-left: 25px;
    }
}

@media (max-width: 835px) {


    .faq-answer {
        padding-right: 70px;
    }

    .cro-card p {
        font-size: 12px;
    }

    .cro-card .image {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .single_service:nth-child(2) {
        margin: 3rem 0;

    }

    .faq-answer {
        padding-right: 0;
    }

    .cro-card .image {
        width: 65px;
        height: 60px;

    }

    .cro-card p {
        font-size: 15px;
        opacity: .95;
    }

    .faq-singular .faq-question:before {
        right: 0;
    }

    .faq-singular {
        padding: 0 20px 0 20px;
    }

    .focci-comp-sol .single_service:before {
        display: none;
    }

    .service_right:nth-child(1),
    .service_right:nth-child(3),
    .single_service:nth-child(1),
    .single_service:nth-child(3) {
        right: 0;
    }

    .focci-comp-sol {
        margin-top: 20px;
    }

    .single_service.service_right img {
        right: inherit;
        left: -12px;
        margin-left: 0;
    }

    .single_service.service_right {
        width: 95%;
        padding-right: 0;
        padding-left: 44px;
    }

    .interest-bg {
        margin-top: 0px;
    }

    .neumar-services-margin-top {
        margin-top: 0rem;
    }

    .cro-card {
        margin-top: 0;
    }

    .single_service img {
        padding-left: 10px;
    }

    .single_three {
        position: relative;
        left: 0% !important;
    }
    .single_four {
        position: relative;
        left: 1% !important;
    }
    .single_four .card-shadow {
        position: relative;
        right: 1% !important;
    }
    .single_six .card-shadow {
        position: relative;
        right: 1% !important;
        margin-right: 1%;
    }

    .single_five {
        position: relative;
        left: 4% !important;
    }
    .single_five .card-shadow {
        position: relative;
        right: 1% !important;
    }


    .single_two {
        position: relative;
        left: 2.5%;
    }


    .single_six {
        position: relative;
        left: 2%;
    }

    .single_six .card-shadow {
        margin-left: -5px !important;
    }

}