.meet-team-section {
    background: linear-gradient(to left, #212121, #292929, #1c1c1c);
    margin-bottom: -1rem;
    padding: 4rem;
}
.meet-team-title{
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -.1rem;
    font-family: Galano-Grotesque;
}
.meet-our-team-section{
    width: 93%;
}

@media only screen and (max-width: 520px) {
    .meet-our-team-section{
        width: 100%;
    }
    .meet-team-title{
        margin-top: 2rem;
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 1.9rem;
        letter-spacing: -.1rem;
        font-family: Galano-Grotesque;
    }
    .meet-team-section {
        background: linear-gradient(to left, #212121, #292929, #1c1c1c);
        margin-bottom: -1rem;
        padding: 1rem;
    }
}
@media only screen and (max-width: 375px) {
   
    .meet-team-title{
        margin-top: 2rem;
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 1.7rem;
        letter-spacing: -.1rem;
        font-family: Galano-Grotesque;
    }
   
    @media only screen and (max-width: 320px) {
   
        .meet-team-title{
            margin-top: 2rem;
            color: white;
            text-align: center;
            font-weight: 700;
            font-size: 1.6rem;
            letter-spacing: -.1rem;
            font-family: Galano-Grotesque;
        }
       
    }
}