

a {
    cursor: pointer !important;
}




.modal-share-heading {
    font-size: 18px;
    font-weight: 300;
    color: #323b43;
    line-height: 58px;
    font-family: Galano-Grotesque;
}

.close-btn {
    color: gray;
    position: relative;
    top: 20px;
}


.modal-facebook-share-icon {
    background: #0e73f7d1;
    height: 40px;
    width: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 11px;
    padding-top: 5px;

}

.modal-facebook-text {
    color: #fff;
    font-size: 13px;
    padding-top: 2px;
    font-weight: 500;
    opacity: 1;
}

.modal-fb-share-text-bg {
    background: #1877f2;
    height: 40px;
    width: 150px;
    padding-top: 7px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.modal-twitter-share-icon {
    background-color: #1da0f2d4;
    height: 40px;
    width: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 12px;
    padding-top: 5px;
}

.modal-twitter-share-text-bg {
    background-color: #1da1f2;
    height: 40px;
    width: 150px;
    padding-top: 7px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.modal-linkedIn-share-icon {
    background-color: #2866b2d0;
    height: 40px;
    width: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 12px;
    padding-top: 5px;
}

.modal-linkedIn-share-text-bg {
    background-color: #2867b2;
    height: 40px;
    width: 150px;
    padding-top: 7px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.modal-bottom-social-icon {
    color: white;
    height: 20px;
}

.modal-mix-share-icon {
    background-color: rgb(218, 93, 4);
    height: 40px;
    width: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 8px;
    padding-top: 3px;
}

.modal-mix-share-text-bg {
    background-color: rgba(255, 105, 0, 1);
    height: 40px;
    width: 150px;
    padding-top: 7px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.modal-others-share-icon {
    background-color: #252729;
    height: 40px;
    width: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 5px;
    padding-top: 3px;
}

.modal-others-share-text-bg {
    background-color: #323b43;
    height: 40px;
    width: 150px;
    padding-top: 7px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.snap-icon {
    height: 14px;
    color: #557ceb;
    fill: currentColor;
    font-weight: 300;
    position: relative;
    bottom: 5px;
}

.snap-text {
    color: #aaa;
    font-size: 12px;
    font-weight: 300;
}

.print-text {
    position: relative;
    right: 37px;
}