.neumar-header-btn {
    color: #fff;
    border-radius: 12px;
    background: none;
    padding: 10px 24px;
    box-shadow: none;
    display: block;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    align-items: center;
    box-shadow: 0 4px 10px 4px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    text-align: center;
    width: 210px !important;
    margin-right: 2rem;
}

.neumar-header-btn:hover {
    color: #C21E55;
    text-decoration: none;
    box-shadow: 0 4px 10px 4px rgb(22 22 22 / 32%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.neumar-know-more-btn {
    color: white;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    background: linear-gradient(165.35deg, #265b97 0%, #264897 100%) !important;
    padding: 5px 25px;
    padding-bottom: 10px;
    box-shadow: none;
    height: 45px;
    box-shadow: 0 4px 10px 4px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: 0;
    width: 240px;
}

#zIndex {
    z-index: 0;
}

.close-btn {
    cursor: pointer;
}

.neumar-heading-text-bg {
    background: rgba(128, 128, 128, 0.496);
    height: 100%;
    width: 100%;
}

.popup-content {
    width: 65% !important;
}

@media only screen and (min-width: 521px) and (max-width: 1024px) {
    .heading-on-video {
        font-size: 2.2rem !important;
        width: 99%;
        position: relative;
        left: 1%;
        top: 10%;
        letter-spacing: .5px;
    }

    .description-on-video {
        font-size: 1.2rem;
        margin-top: 1rem !important;
        letter-spacing: .22px;
        font-weight: 500 !important;
        line-height: 1.1 !important;
        color: white !important;
        font-family: 'Montserrat', sans-serif, Galano-Grotesque !important;
        opacity: 1 !important;
        position: relative;
        top: 12%;
    }

    .neumar-header-btn {
        margin-top: 5rem;
    }

    .neumar-know-more-btn {
        width: 150px;
        margin-top: 5rem;
        font-size: 16px;
    }
}

@media only screen and (max-width: 520px) {
    .heading-on-video {
        font-size: 1.1rem !important;
        width: 99%;
        position: relative;
        left: 1%;
        letter-spacing: .22px;
    }

    .description-on-video {
        font-size: .8rem;
        letter-spacing: .22px;
        font-weight: 500 !important;
        line-height: 1.1 !important;
        color: white !important;
        font-family: 'Montserrat', sans-serif, Galano-Grotesque !important;
        opacity: 1 !important;
    }

    .neumar-header-btn {
        width: 150px !important;
        margin-top: -1rem;
        margin-right: 1rem;
    }

    .neumar-know-more-btn {
        width: 150px;
        margin-top: -1rem;
        font-size: 16px;
    }
}