.swipersection-bg {
    font-family: Galano-Grotesque, Montserrat, sans-serif;
    background: linear-gradient(to left, #212121, #292929, #1c1c1c);
}

.brain-angle-title {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: capitalize;
    font-family: Galano-Grotesque;
}

.brain-angle-view-div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
}

.brain-angle-view-div:hover .brain-angle-title {
    color: orange;
}

.brain-angle-view-div:active .brain-angle-title {
    color: orange;
}

.swiper-image {
    height: 330px;
    width: 480px;
    cursor: pointer;
}

.brain-navigation {
    margin-top: -1.5rem;
}

.swiper-pagination-image {
    height: 40px;
    width: 65px;
    cursor: pointer;
}

.view1 {
    background: url("../../../resource/Image1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
    background-size: 80% 80%;
}

.view2 {
    background: url("../../../resource/image2.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 90% 70%;
}

.view3 {
    background: url("../../../resource/Image3.png");
    background-repeat: no-repeat;
    background-position-x: -20px;
    background-position-y: top;
    background-size: 80% 80%;
}

.view4 {
    background: url("../../../resource/Image4.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position-x: -50px;
    background-position-y: bottom;
}

@media only screen and (min-width: 521px) and (max-width: 768px) {
    .swiper-image {
        height: 200px;
        width: 280px;
        cursor: pointer;
    }

    .brain-angle-view-div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        text-align: center;
    }

    .swiper-image {
        height: 220px;
        width: 310px;
        cursor: pointer;
    }

    .brain-angle-title {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        text-transform: capitalize;
        font-family: Galano-Grotesque;
    }
}

@media only screen and (max-width: 520px) {
    .brain-angle-view-div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 140px;
        text-align: center;
    }

    .swiper-image {
        height: 220px;
        width: 310px;
        cursor: pointer;
    }

    .brain-angle-title {
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        text-transform: capitalize;
        font-family: Galano-Grotesque;
    }

    .swiper-pagination-image {
        height: 30px;
        width: 50px;
    }
    .view1 {
        background: url("../../../resource/Image1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: top;
        background-size: 60% 70%;
    }
    
    .view2 {
        background: url("../../../resource/image2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: center;
        background-position-y: bottom;
        background-size: 80% 65%;
    }
    
    .view3 {
        background: url("../../../resource/Image3.png");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
        background-size: 70% 70%;
    }
    
    .view4 {
        background: url("../../../resource/Image4.png");
        background-repeat: no-repeat;
        background-size: 70% 60%;
        background-position-x: center;
        background-position-y: bottom;
    }
}