.blog-header {
    height: 500px;
    background: url('../../../resource/Group\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-header-title {
    color: #AB864F;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 116.114px;
}

.by-brainalive {
    background: linear-gradient(125.69deg, #267797 0%, #263F97 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    position: relative;
    left: 7%;
    bottom: 17px !important;
}

.news-letter {
    padding: 32px;
    width: 652px;
    height: 164px;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(20, 20, 21, 0.16);
    border-radius: 8px;
}



.news-letter-btn {
    background: #1974CE;
    border-radius: 4px;
    padding: 0px 24px;
    padding-bottom: 8px;
    color: #fff;
    width: 120px;
    height: 48px;
    border: 0;
    margin-left: 20px;
}

.news-letter-input {
    border: 0;
    border-bottom: 1px solid #8A8A93;
    ;
    background: #FFFFFF;
    box-shadow: 0px 24px 48px rgba(20, 20, 21, 0.16);
    width: 428px;
    height: 48px;
    font-weight: 500;
    line-height: 150%;
}

.news-letter-input:focus {
    border: 0;
    outline: none;
}

.news-letter-input::placeholder {
    border: 0;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #8A8A93;
}

@media only screen and (max-width: 520px) {
    .blog-header {
        height: 450px;
        background: url('../../../resource/Group\ 1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .blog-header-title {
        color: #AB864F;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 4rem;
    }

    .news-letter {
        padding: 32px;
        width: 98% !important;
        height: 164px;
        background: #FFFFFF;
        box-shadow: 0px 24px 48px rgba(20, 20, 21, 0.16);
        border-radius: 8px;
        margin-bottom: -2rem;
    }

    .news-letter-btn {
        background: #1974CE;
        border-radius: 4px;
        padding: 0px 24px;
        padding-bottom: 8px;
        color: #fff;
        width: 120px;
        height: 40px;
        border: 0;
        margin-left: 20px;
    }

    .news-letter-input {
        border: 0;
        border-bottom: 1px solid #8A8A93;
        ;
        background: #FFFFFF;
        box-shadow: 0px 24px 48px rgba(20, 20, 21, 0.16);
        width: 100% !important;
        height: 40px;
        font-weight: 500;
        line-height: 150%;
    }

}

@media only screen and (max-width: 390px) {
    .news-letter {
        padding: 32px;
        width: 95% !important;
        height: 164px;
        background: #FFFFFF;
        box-shadow: 0px 24px 48px rgba(20, 20, 21, 0.16);
        border-radius: 8px;
        margin-left: 2%;

    }

    .news-letter-input {
        border: 0;
        border-bottom: 1px solid #8A8A93;
        ;
        background: #FFFFFF;
        box-shadow: 0px 24px 48px rgba(20, 20, 21, 0.16);
        width: 100% !important;
        height: 48px;
        font-weight: 500;
        line-height: 150%;
    }

}