.brain-wave-bg {
    background: linear-gradient(to left, #212121, #292929, #1c1c1c);

}

.wave-heading {
    text-align: center;
    font-weight: 900;
    font-size: 29px;
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    font-family: Galano-Grotesque;

}

.wave-change-div {
    cursor: pointer;
}

.text-end-div {
    text-align: end;
}

.delta {
    background: url("../../../resource/gif/delta.webp");
    background-position: center;
    background-size: 50% 80%;
    background-repeat: no-repeat;
    background-position-y: center;
    opacity: 0.3;
    height: 400px;
}

.theta {
    background: url("../../../resource/gif/theta.webp");
    background-position: center;
    background-size: 50% 80%;
    background-repeat: no-repeat;
    background-position-y: center;
    opacity: 0.3;
    height: 400px;
}

.alpha {
    background: url("../../../resource/gif/alpha.webp");
    background-position: center;
    background-size: 50% 80%;
    background-repeat: no-repeat;
    background-position-y: center;
    opacity: 0.3;
    height: 400px;
}

.beta {
    background: url("../../../resource/gif/beta.webp");
    background-position: center;
    background-size: 50% 80%;
    background-repeat: no-repeat;
    background-position-y: center;
    opacity: 0.3;
    height: 400px;
}

.wave-content {
    position: relative;
    bottom: 370px;
    margin-bottom: -370px;
}

.wave-title {
    line-height: 2;
    font-weight: 700;
    color: #fff;
    font-family: Galano-Grotesque;
}

.wave-details {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.887);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 150%;

}

#wave-amount {
    font-size: 20px;
    color: #fff;
}

.wave-change-div:hover .wave-title {
    color: orange;
}

.wave-imgs {

    display: none;
}

@media only screen and (max-width: 520px) {
    .text-end-div {
        text-align: start;
    }

    .wave-content {
        padding: 1rem;
        margin-top: 400px;
    }

    .wave-title {
        font-size: 1.5rem;
        line-height: 2;
        font-weight: 700;
        color: #fff;
        font-family: Galano-Grotesque;
    }

    .wave-details {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.887);
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        line-height: 150%;
    }

    .wave-heading {
        text-align: center;
        font-weight: 900;
        font-size: 1.8em !important;
        text-decoration: underline;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        font-family: Galano-Grotesque;
    }

    .wave-imgs {
        display: block;
        height: 135px;
        margin-top: -100px;
        width: 100%;
        opacity: .9;
        margin-top: -2rem;
    }

    .wave-div-top-space {}
    .Reverse-column{
        flex-direction: column-reverse;
    }

    .delta {
        background: url("../../../resource/gif/delta.webp");
        background-position: center;
        background-size: 50% 80%;
        background-repeat: no-repeat;
        background-position-y: center;
        opacity: 0.3;
        height: 400px;
        display: none;
    }

    .theta {
        background: url("../../../resource/gif/theta.webp");
        background-position: center;
        background-size: 50% 80%;
        background-repeat: no-repeat;
        background-position-y: center;
        opacity: 0.3;
        height: 400px;
        display: none;
    }

    .alpha {
        background: url("../../../resource/gif/alpha.webp");
        background-position: center;
        background-size: 50% 80%;
        background-repeat: no-repeat;
        background-position-y: center;
        opacity: 0.3;
        height: 400px;
        display: none;
    }

    .beta {
        background: url("../../../resource/gif/beta.webp");
        background-position: center;
        background-size: 50% 80%;
        background-repeat: no-repeat;
        background-position-y: center;
        opacity: 0.3;
        height: 400px;
        display: none;
    }

}

.shimmer {
    margin: 0 auto;
    display: inline;
    margin-bottom: 0;
}

.shimmer {
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(#3b8294), to(#80a4ad), color-stop(0.5, #80a4ad));
    background: -moz-gradient(linear, left top, right top, from(#3b8294), to(#80a4ad), color-stop(0.5, #80a4ad));
    background: gradient(linear, left top, right top, from(#3b8294), to(#80a4ad), color-stop(0.5, #80a4ad));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #fff;
}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}