.text-position {
    position: absolute;
    height: 100%;
    top: 40%;
    left: 30%;
    z-index: 1;
}

.video-title {
    font-weight: 700;
    font-size: 3.9rem;
    line-height: 1.1;
    letter-spacing: -.2rem;
    font-family: Galano-Grotesque;
}

.video-description {
    line-height: 39px;
    font-size: 25px;
    color: #fff;
    letter-spacing: 2px;
    font-family: Galano-Grotesque;
}

@media only screen and (min-width: 521px) and (max-width: 1024px) {
    .text-position {
        position: absolute;
        height: 100%;
        top: 25%;
        left: 25%;
    }

    .video-title {
        font-weight: 800;
        font-size: 4rem;
        line-height: 1.2;
        letter-spacing: -.1rem
    }

    .video-description {
        line-height: 35px;
        font-size: 20px;
        color: #fff;
        letter-spacing: 2px;
    }
}

@media only screen and (max-width: 520px) {
    .margin-top-video {
        margin-top: 60px;
    }

    .text-position {
        position: absolute;
        height: 100px !important;
        top: 16%;
        left: 5.5%;
        padding-bottom: 60px;
        z-index: 1;
    }

    .video-title {
        font-weight: 800;
        font-size: 2.8rem;
        line-height: 1.2;
        letter-spacing: -.1rem;
        position: relative !important;

    }

    .video-description {
        line-height: 25px;
        font-size: 19px;
        color: #fff;
        letter-spacing: 2px;
        position: relative !important;

    }
}

/* @media only screen and (min-width: 390px) and (max-width: 400px) {
    .margin-top-video {
        margin-top: 60px;
    }

    .text-position {
        position: absolute !important;
        height: 50px !important;
        left: 5.5%;
    }

    .video-title {
        font-weight: 800;
        font-size: 2.8rem;
        line-height: 1.2;
        letter-spacing: -.1rem;
        position: unset !important;
    }

    .video-description {
        line-height: 25px;
        font-size: 19px;
        color: #fff;
        letter-spacing: 2px;
        position: static !important;
    }
} */

@media only screen and (max-width: 375px) {

    .text-position {
        position: absolute;
        height: 100%;
        top: 15%;
        left: 2%;
    }

    .video-title {
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 1.2;
        letter-spacing: -.1rem
    }

    .video-description {
        line-height: 25px;
        font-size: 18px;
        color: #fff;
        letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif, Galano-Grotesque;
    }
}

@media only screen and (max-width: 320px) {
    .video-title {
        font-weight: 800;
        font-size: 2.2rem;
        line-height: 1.2;
        letter-spacing: -.1rem
    }

    .video-description {
        line-height: 25px;
        font-size: 18px;
        color: #fff;
        letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif, Galano-Grotesque;
    }
}