.recent-img-blog {
    width: 120px;
    border-radius: 10px;
    height: 70px;
    margin-right: 0;
    margin-left: 6px;
}
.recent-blog-div{
    border-bottom: 1px dotted white;
    padding-right: 2rem;
    
}
.recent-blog-title{
    color: #2e99c4;
    font-weight: 300;
    line-height: 18px;
    font-size: 12px;

}
.recent-gray-text{
    line-height: 18px;
    font-size: 12px;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    opacity: .8;
    line-height: .3;
}
.recent-post-heading{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.618;
    font-family: Galano-Grotesque;
}

@media only screen and (max-width: 520px) {
    .recent-blog-div{
        margin-left: .5rem;
        margin-right: .5rem;
    }
}