.blog-bg {
    background: linear-gradient(125.69deg, #FFFFFF 0%, #CCCCCC 100%);
    display: flex;
    justify-content: center;
}

.blog-container {
    margin-left: 2rem;
    margin-right: -2rem;
    width: 90%;
  
}
@media only screen and (max-width: 520px) {
    .blog-container {
        margin-left: 0;
        margin-right: 0;
    }
}