.blog-bg {
    background: linear-gradient(125.69deg, #FFFFFF 0%, #CCCCCC 100%);
    display: flex;
    justify-content: center;
}
.home-blog-container{

    margin-left: 2rem;
    margin-right: -2rem;
    width: 90%;
    
}

.blog-container {
    margin-left: 2rem;
    margin-right: -2rem;
    width: 90%;
  
}
@media only screen and (max-width: 520px) {
    .blog-container {
        margin-left: 2rem;
        margin-right: 0;
        width: 95%;
        padding: .5rem;
    }
    .home-blog-container{

        margin-left: -.1rem;
        margin-right: 0;
        width: 95%;
        padding: .5rem;
        
    }
}