.blog-bg {
    background: #191919;
}

.blog-container {
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    bottom: 3rem;
    background: linear-gradient(to left, #212121, #292929, #1c1c1c);
    border-radius: 7px;
}
@media only screen and (max-width: 520px) {
    .blog-container {
        margin-left: 0;
        margin-right: 0;
    }
}