.scince-head {
    background: linear-gradient(to left, #212121, #292929, #1c1c1c);
    padding: 2rem;
    height: auto;
}

.bg-line {
    margin-top: 2rem;
    height: 100vh;
    position: relative;
}

.sceince-header-text {
    color: #fff;
    text-align: right;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-size: 85px;
    text-align: right;
    width: 100%;
    font-weight: 800;
    font-family: Zefani_Uppercase_Demo-Regular;
    line-height: 1.1;
}

.science-header-description {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 1.52;
}

.header-bottom-text {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    line-height: 1.52;
}

@media only screen and (min-width: 521px) and (max-width: 1024px) {
    .bg-line {
        margin-top: 2rem;
        height: 100vh;
    }

    .line-1 {
        position: absolute;
        rotate: -50deg;
        left: -35%;
        opacity: .1;
        /* display: none; */
    }

    .line-2 {
        position: absolute;
        top: 30%;
        rotate: -50deg;
        left: 35%;
        opacity: .1;
        display: none;
    }
}

@media (min-width: 790px) {
    .line-1 {
        position: absolute;
        rotate: -50deg;
        left: -15%;
        opacity: .1;
    }

    .line-2 {
        position: absolute;
        top: 30%;
        rotate: -50deg;
        right: -25%;
        opacity: .1;
    }
}

@media (min-width: 1800px) and (max-width: 4000px) {
    .sceince-header-text {
        font-size: 150px;
        text-align: left;
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    .header-text-div {
        margin-top: 2rem;
    }
}

@media (max-width: 1195px) {

    .sceince-header-text {
        font-size: 80px;
    }
}

@media (max-width: 835px) {

    .sceince-header-text {
        font-size: 55px;
    }

}

@media (max-width: 450px) {


    .sceince-header-text {
        width: 100%;
        text-align: left;
    }
}

@media (min-width: 767px) and (max-width:1800px) {


    .science-header-description {
        padding-top: 1rem;
        width: 430px;
        position: relative;
        left: 40px;
    }
}

@media (min-width: 767px) {
    .header-bran-img {
        width: 65%;
    }

    .header-bottom-text {
        width: 85%;
    }
}





@media (max-width: 520px) {
    .bg-line {
        height: 100%;
    }

    .header-bran-img {
        width: 85%;
        margin-top: 2rem;
    }

    .sceince-header-text {
        font-size: 50px;
        line-height: 1;
    }

    .science-header-description {
        color: #fff;
        font-size: 15px;
        margin-top: 1rem;
        margin-bottom: 15px;
        font-weight: 500;
        font-style: normal;
        font-family: 'Montserrat', sans-serif, Galano-Grotesque;
        line-height: 1.52;
    }

    .header-bottom-text {
        color: #fff;
        margin-bottom: 20px;
        font-weight: 300 !important;
        text-align: justify;
        font-size: 13px;
        line-height: 1.5;
        /* position: relative;
        top: 10%; */
        margin-top: 0rem;
    }

    .line-1 {
        position: relative;
        display: none;
    }

    .line-2 {
        position: relative;
        display: none;
    }

    .line-display-none {
        display: none;
    }
}


@media (max-width: 390px) {
    .bg-line {
        height: 100%;
    }

    .header-bran-img {
        width: 85%;
        margin-top: 2rem;
    }

    .sceince-header-text {
        font-size: 50px;
        line-height: 1;
    }

    .science-header-description {
        color: #fff;
        font-size: 15px;
        margin-top: 1rem;
        margin-bottom: 15px;
        font-weight: 500;
        font-style: normal;
        font-family: 'Montserrat', sans-serif, Galano-Grotesque;
        line-height: 1.52;
    }

    .header-bottom-text {
        position: relative;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 300 !important;
        text-align: justify;
        font-size: 13px;
        line-height: 1.5;
    }

}