.connect-bg {
    background-color: #121212;
}

.connect-text {
    font-family: 'Montserrat', sans-serif, Galano-Grotesque;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    color: white;
    letter-spacing: 1px;
}

.features-bg {
    background-color: #1D1D1D;
}

.feature-title {
    letter-spacing: .22px;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: Galano-Grotesque;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.927);
}

.connect-methods-card img {
    height: 50px;
}

.threee {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300 !important;
}

@media only screen and (max-width: 520px) {
    .connect-text {
        font-family: 'Montserrat', sans-serif, Galano-Grotesque;
        font-size: 36px;
        font-weight: 500;
        line-height: 1.1;
        color: white;
        letter-spacing: 1px;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
    .feature-title {
        letter-spacing: .22px;
        font-weight: 500;
        font-size: .8rem;
        font-family: 'Montserrat', sans-serif, Galano-Grotesque;
        line-height: 1.6;
        color: rgba(255, 255, 255, 0.927);
    }
    .connect-methods-card {
        margin-top: -3.5rem;
    }
    .connect-with-space{
        padding-top: 4rem;
    }
    
}