* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

/* 

@media only screen and (min-width: 521px) and (max-width: 1024px)  {
    
} 

*/

/* 
font-family: 'Montserrat', sans-serif; 
 font-family: 'Montserrat', sans-serif, Galano-Grotesque;
*/
body {
	margin: 0;
	font-family: Galano-Grotesque;
	font-weight: 500;
}

@font-face {
	font-family: Galano-Grotesque;
	src: url(./font/GalanoGrotesque/Galano\ Grotesque\ Medium.otf);
	src: url(./font/GalanoGrotesque/Galano\ Grotesque\ Medium.woff?#iefix) format("embedded-opentype"),
		url(./font/GalanoGrotesque/Galano\ Grotesque.woff) format("woff"),
		url(./font/GalanoGrotesque/Galano\ Grotesque.otf) format("truetype"),
		url(./font/GalanoGrotesque/Galano\ Grotesque.otf) format("opentype");
	font-style: normal;
	font-weight: 300
}

@font-face {
	font-family: Galano-Grotesque;
	src: url(./font/GalanoGrotesque/Galano\ Grotesque\ Medium.otf);
	src: url(./font/GalanoGrotesque/Galano\ Grotesque\ Medium.woff?#iefix) format("embedded-opentype"),
	;
	font-style: normal;
	font-weight: 400
}

@font-face {
	font-family: Galano-Grotesque;
	src: url(./font/GalanoGrotesque/Galano\ Grotesque\ Semi\ Bold.otf);
	src: url(./font/GalanoGrotesque/Galano\ Grotesque\ Semi\ Bold.otf?#iefix) format("embedded-opentype"),
	;
	font-style: normal;
	font-weight: 700
}

@font-face {
	font-family: Zefani_Uppercase_Demo-Regular;
	src: url(./font//Zefani_Demo/Zefani_Uppercase_Demo-Regular.otf);

}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

html {
	margin: 0;
	overflow-x: hidden;
}